<nav class="navbar navbar-expand-lg navbar-dark custom-navbar-bg" style="height: 80px;">
  <img src="/assets/hdfc.jpg" width="100" height="40" class="d-inline-block align-top mr-2" alt="Logo">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">
          <i class="fas fa-home mr-1"></i>
          Home
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/cards">
          <i class="fas fa-credit-card mr-1"></i>
          Payment
        </a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          <i class="fas fa-sign-out-alt mr-1"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="social-media-icons">
          <li><a href="https://www.linkedin.com/company/hdfc-life-insurance/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://www.facebook.com/HDFCLifeInsurance/" target="_blank"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/hdfclife/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://twitter.com/hdfclife" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/user/HDFCLIFE" target="_blank"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


